@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'IBMPlexSansKR-Medium';
}
.Home{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;

}
.titlename{
    margin-top: 75px;
    color: #BE7CDD;
    font-weight: 900;
    font-size: 90px;
    margin-bottom: 20px;
}
.today{
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    color: rgba(126, 121, 121, 0.678) ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
}
.Insert{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    width: 600px;
    justify-content: center;
}
.Insert-in{
    flex: 1;
    margin-top: 15px ;
    margin-bottom: 20px;
    padding: 25px;
    height: 60px;
    background-color: #F3ECF480;
    border-radius: 20px;
    box-sizing: border-box;
    border-style: none;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.Insert-in:focus{
    outline: none;
}
.Insert-add{
    border:none;
    cursor: pointer;
    border-radius: 0;
    height: 60px;
    width: 60px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.itemlist{
    display: flex;
    width: 550px;
    justify-content: cen0ter;  
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #F3ECF480;
}

.item{
    display: flex;
    align-items: center;
    height: 50px;
}
.item-todo{
    flex: 1;
    text-align: left;
    font-size: 21px;
    height: 25px;
    margin-bottom: 7px;
}
.item-update{
    display: flex;
    flex: 1;
    border-style: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: left;
    height: 25px;
    font-size: 21px;
    color: grey;
    background-color: inherit;
    width: 405px;
    box-sizing: border-box;
}
.item-update:focus{
    outline: none;
}
.item-todo + .item-todo {
    border-top : 1px solid black;
}
.checkbox{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 20px;
    color : rgb(27, 26, 26);
}
.checkbox.checked{
    color: #34303580;
}
.checkbox.checked ~ .item-todo{
    font-weight: bold ;
    text-decoration: line-through;
    color: #34303580;
}
.item-delete{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
.All{
    text-align: left;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.filter{
    list-style: none;
    font-size: 20px;
    float: right;
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer{
    margin-top: 0px;
}